# requirements.txt
ase==3.24.0
matplotlib==3.10.1
networkx==3.4.2
numpy==2.2.3
pandas==2.2.3
pillow==11.1.0
scikit-learn==1.6.1
scipy==1.15.2
torch==2.6.0
torch-fidelity==0.3.0
torchaudio==2.6.0
torchmetrics==1.6.1
torchvision==0.21.0
tqdm==4.67.1
